<div class="card">
    <div>
        <h1 >
            Leccion
        </h1>
    </div>
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <p-button
                severity="success" 
                label="Nuevo" 
                icon="pi pi-plus" 
                class="mr-2" 
                (onClick)="openNew()" />
        </ng-template>

       
    </p-toolbar>

    <p-table
        #dt
        [value]="lecciones"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="mostrando {first} a {last} de {totalRecords} entradas"
        [showCurrentPageReport]="true"
    >
       
        <ng-template pTemplate="header">
            <tr>
              
                <th pSortableColumn="nombre" style="min-width:15rem">
                    Nombre <p-sortIcon field="nombre" />
                </th>
                <th pSortableColumn="descripcion" style="min-width:15rem">
                    descripcion <p-sortIcon field="descripcion" />
                </th>
                <th pSortableColumn="nivel" style="min-width:15rem">
                    nivel <p-sortIcon field="nivel" />
                </th>
               
               
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>
                    {{ user.nombre }}
                </td>
                <td>
                    {{ user.descripcion }}
                </td>
                <td>
                    {{ user.nivel.nombre }}
                </td>
               
                
                <td>
                    <p-button 
                        icon="pi pi-pencil" 
                        class="mr-2" 
                        [rounded]="true" 
                        [outlined]="true" 
                        severity="success" 
                        (onClick)="editProduct(leccion)" />
                    <p-button 
                        icon="pi pi-trash" 
                        severity="danger" 
                        [rounded]="true" 
                        [outlined]="true" 
                        (onClick)="deleteProduct(leccion)" />
                </td>
            </tr>
        </ng-template>
        
    </p-table>

    <p-dialog 
        [(visible)]="leccionmodal" 
        [style]="{ width: '450px' }" 
        header="Crear Leccion" 
        [modal]="true" 
        styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Nombre de la leccion</label>
                    <input 
                        type="text" 
                        pInputText 
                        id="name" 
                        [(ngModel)]="leccion.nombre" 
                        required 
                        autofocus />
                    <small class="p-error" *ngIf="submitted && !leccion.nombre">
                        Nombre de nivel es requerido.
                    </small>
                </div>
                <div class="field">
                    <label for="name">Descripcion del nivel</label>
                    <input 
                        type="text" 
                        pInputText 
                        id="name" 
                        [(ngModel)]="leccion.descripcion" 
                        required 
                        autofocus />
                    <small class="p-error" *ngIf="submitted && !leccion.descripcion">
                        la descripcion es requerido.
                    </small>
                </div>
                
            </ng-template>

            <ng-template pTemplate="footer">
                <p-button 
                    label="Cancelar" 
                    icon="pi pi-times" 
                    [text]="true" 
                    (onClick)="hideDialog()" />
                <p-button
                    label="Guardar" 
                    icon="pi pi-check" 
                    [text]="true" 
                    (onClick)="saveProduct()" />
            </ng-template>
    </p-dialog>

    
</div>