<ul class="layout-menu">
    <ng-container *ngFor="let item of model; let i = index;">
        <li *ngIf="!item.separator">
            <a *ngIf="hasAccess(item)" [routerLink]="item.routerLink">
                <i [class]="item.icon"></i>
                <span>{{ item.label }}</span>
            </a>
            <ul *ngIf="item.items">
                <ng-container *ngFor="let child of item.items">
                    <li *ngIf="hasAccess(child)">
                    <a [routerLink]="child.routerLink">
                        <i [class]="child.icon"></i>
                        <span>{{ child.label }}</span>
                    </a>
                    </li>
                </ng-container>
            </ul>
        </li>
    </ng-container>
</ul>